*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,body{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter{
  font-size: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


button{
  padding: 20px;
  margin: 20px;
  border: none;
  border-radius: 10px;
  background-color: rgb(8, 8, 134);
  color: white;
  font-size: 4vh;
}

button:active{
  transform: scale(0.95);
}

.num{
  font-size: 10vh;
  text-align: center;
}