*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ffff;
}

html,
body{
  height: 100%;
  width: 100%;
}

body{
  background-color: black;
  
}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card{
  width: 300px;
  border: 2px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;

}

.card img{
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50% ;
}
.card p{
  margin: 20px 0;
}
.card button{
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}