*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
  height: 100%;
  width: 100%;
}

.card{
  background-color: rgb(144, 70, 240) ;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.nav{
  background-color: red;
  /* border-radius: 10px; */
  margin: 5px;
  padding: 10px;
}